.verticalTab {
  border-radius: 7PX;
    box-shadow: 0px 0px 3px 0px #8484847a,-3px 9px 11px -2px #8484847a!important;
    float: left;
    border: 1px solid #eaeaea;
    background-color: #f1f1f1;
    width: 20%;
    height: 400px;
}
.inAssociation {
    margin: 2.1em 0 0 0;
}
.p-t {
    padding-top: 58px;
}
.p-t-16 {
    padding-top: 16px;
}
.demo {
    margin-top: 32px;
}
.demo a {
    padding-top: 10px;
}
.verticalTab button {
    background: #fff;
    display: block;
    color: black;
    padding: 12.9px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}
.verticalTab button:hover {
    color: #fff;
    background-color: #8dd294;
}
.spacing {
    display: inline-block;
    padding: 4em 0;
}
.verticalTab button.active {
    color: #fff;
    background-color: #51cd5e;
}
.verticalTabcontent {
    background: #fff;
    float: left;
    padding: 0px 12px;
   /* border: 1px solid #ccc;*/
    width: 80%;
    border-left: none;
    height: 400px;
}
.col-md-6.verticalTabContent {
    text-align: center; 
    padding: 3em 4em;
}
/*--Contact--*/
.form-group {
    width: 80%;
    margin: 0 auto;
}
input#name, input#Email1, textarea#Message {
    margin: 20px 0;
    padding: 10px;
    /* border-radius: 0; */
    border-radius: 7px;
    border: 1px solid #e6e6e6 !important;
    /* border: none; */
}
.contact.text-center {
    /*width: 75%;*/
    padding: 2em 0 3em 0;
    box-shadow: 0 0 1px 0 #8484847a,0 2px 5px 0 #8484847a!important;
    margin: 2em auto;
}
.contactSec.text-center img {
    padding-top: 2.7em;
}
.contactSec {
   /* width: 70%;*/
    margin: 1em auto 0 auto;
}
/*--Documentation--*/
code {
    padding-top: 15px;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.3px;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    overflow-wrap: normal;
    tab-size: 4;
    hyphens: none;
     color: white; 
}
i.fa.fa-clipboard {
    float: right;
}
.steps h4 {
    margin: 1em 0;
}
.steps p {
    margin: 1em 0;
}
.codeTitle {
    padding-bottom: 1em;
    color: #fff;
    font-weight: 700;
    border-bottom: 1px solid #2f6b34;
}
.code {
    border-radius: 7px 7px 7px 0;
    padding: 2em;
    background: rgb(3, 84, 11);
}
/*--Documentation--*/