
/*PIK Chat Styles*/  
/*'Nunito', sans-serif*/
html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Nunito', sans-serif !important;
}
h1,h2,h3,h4,h5,h6{
		color: #3f3f3f;
}
.sectionTitle h2 {
    font-weight: 500;
    font-size: 2.3em;
}
body p {
	color: #848484;
}
body h1 {
    font-family: 'Nunito', sans-serif !important;
    font-size: 42px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #3f3f3f;
}
body .row {
	padding-left: 20px;
	padding-right: 20px;
}
body .container-fluid {
	width: 90%;
}
.textCenter {
    text-align: center;
}
.color {
	color: #60d66a;
}
/*Navbar*/
#nav ul li a{
	color: #333;
	padding: 15px;
}
#nav ul li {
	padding-right: 10px;
}
.pik-btn-border {
	padding: 5px 15px;
    background-color: #fff;
    color: #60d66a;
    border-color: #60d66a;
    border-radius: 5px 5px 5px 0px;
}
.pik-btn-border:hover {
	background-color: #60d66a;
    color: #fff;
    border-color: #60d66a;
}
.pik-btn {
	padding: 5px 15px;
    background-color: #20b038;
    color: #fff;
    border-color: #60d66a;
    border-radius: 5px 5px 5px 0px;
    height: 45px;
    width: auto;
}
.pik-btn:hover {
	background-color: #fff;
    color: #20b038;
    border-color: #60d66a;
}
.btn.focus, .btn:focus {
	box-shadow: none;
}
.form-control:focus {
	border-color: #60d66a;
	box-shadow: none;
}
/*section top*/
.section-padding {
   /* display: inline-block;*/
    padding: 20px 0px;
   /* width: 100%;*/
}
.top-p {
	font-size: 20px;
}
/*section companies*/
.companies-img, .solution-content, .facilitate-content {
	padding-top: 35px;
}
.center {
	margin-left: auto;
	margin-right: auto;
}
@media (max-width: 767.98px) {
	.companies-section img {
		padding-top: 10px;
		width: 100px;
	}
	.solution-img img {
		width: 50px;
	}
}
/*section Solution*/
.border-hover:hover p {
	border-bottom: 5px solid #20b038;
}
.m-t-20 {
	margin-top: 20px;
}
/*section facilitate*/
.card {
	border: none;
}
.card-header {
    margin-top: 0px;
    padding: 0px;
    background-color: #fff;
    border-bottom: none;
}
.accordion-btn {
	color: #3f3f3f;
	text-decoration: none;
	font-size: 20px;
}
.accordion-btn:hover {
	color: #3f3f3f;
	text-decoration: none;
}
.btn-link.focus, .btn-link:focus {
	color: #3f3f3f;
	text-decoration: none;
}
.mb-0 > button {
  display: block;
  position: relative;
}
.mb-0 > button:after {
  content: "\f078"; /* fa-chevron-down */
  font-family: 'FontAwesome';
  position: absolute;
  right: 0;
  font-size: 16px;
  color: #848484;
  font-weight: 400px;
}
.mb-0 > button[aria-expanded="true"]:after {
  content: "\f077"; /* fa-chevron-up */
  font-size: 16px;
  color: #848484;
  font-weight: 400px;
}
.card-body {
	border-radius: 7px;
	/*box-shadow: 0 0px 1px 0 #8484847a,0 2px 5px 0 #8484847a !important;*/
}
.card {
	padding-bottom: 20px;
}
@media (max-width: 991.98px){
	.card {
		padding-bottom: 5px;
	}
}
/*section security*/
.dis-none {
	display: none;
}
.security-section, .system-section {
	background-color: #f9f9f9;
}
/*section system*/
.btn-width {
	width: 180px;
	height: 50px;
}
.system-section p {
	font-size: 20px;
}
/*footer section*/
.footer-section ul {
	list-style: none;
}
.footer-section ul li a {
	color: #848484;
	text-decoration: none;
	font-size: 15px;
}
.footer-section p {
	font-size: 20px;
}
.social, .store {
	display: -webkit-inline-box;
}
.social li {
	padding: 8px;
}
.footer-pad {
	padding: 20px 0px;
}
.footer-pad p {
	color: #848484;
	font-size: 18px;
}
.p-l-0 {
	padding-left: 0px;
}
@media (max-width: 767.98px) {
	body h1 {
		font-size: 36px;
	}
}
/*Software section*/
.navtop{
    margin-top:50px;
    margin-left: 60px;
}
.tab-content {
    padding-top: 40px;
}
.soft-btn {
	height: 50px;
    width: 300px;
    background-color: #fff;
    color: #3f3f3f;
    border: 2px solid #20b038;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
.soft-btn:active {
    background-color: #20b038;
    color: #fff;
    text-align: center;
    border: 2px solid #20b038;
}
.soft-btn:hover {
    background-color: #20b038;
    color: #fff;
    text-align: center;
    border: 2px solid #20b038;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	background-color: #20b038;
	border: 2px solid #20b038;
}
.nav-pills .nav-link {
	border-radius: 5px 5px 5px 0px;
}
.nav-pad-r {
	padding-right: 95px;
}
@media (min-width: 320px) and (max-width: 767.98px) {
	.nav-pad-r {
		padding-right: 0px;
	}
	.navtop {
		padding-left: 50px;
	}
	.nav-fill .nav-item {
		padding-top: 10px;
	}
	.system-content .float-right {
		float: none !important;
	}
	.system-content .mobile {
		padding-left: 40px;
		padding-top: 10px;
	}
	.footer-media {
		padding-left: 30px;
	}
	.top-section .p-t-50 {
		padding-top: 0px;
	}
	.m-l-45, .m-l--45 {
		margin-left: 0px !important;
	}
	.Security-content img {
		width: 125px;
	}
	.margin-l--50 {
		margin-left: 0px !important;
	}
	.navtop{
	    margin-top:50px;
	    margin-left: 0px;
    }

}
@media (min-width: 768px) and (max-width: 991.98px) {
	.navtop{
	    margin-top:50px;
	    margin-left: 0px;
    }
	.nav-pad-r {
		padding-right: 30px;
	}
	.navbar-nav {
		font-size: 14px;
	}
	.navbar-brand {
		margin-top: -10px;
	}
	.soft-btn {
		width: 200px;
	}
	.footer-logo, .footer-media p {
		padding-left: 25px;
	}
	.footer-section ul {
		padding-left: 0px;
	}
	.margin-l--50 {
		margin-left: 0px !important;
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.nav-pad-r {
		padding-right: 117px;
	}
}
@media (max-width: 1023.98px) {
	.navbar-brand {
		width: 100px;
	}	
}
@media (max-width: 1199.98px) {
	.soft-btn {
		width: 200px;
	}
	.security-section .img-h {
		width: auto !important;
		height: auto !important;
	}
}
.p-b-10 {
	padding-bottom: 10px;
}
.p-t-50 {
	padding-top: 50px;
}
.p-t-100{
	padding-top: 115px;
}
.p-t-17 {
	padding-top: 17px;
}
.p-t-40 {
	padding-top: 40px;
}
.m-l-45 {
	margin-left: 45px;
}
.m-l--45 {
	margin-left: -45px;
}
.padding-r-n {
	padding-right: 0px !important;
}
.padding-l-n {
	padding-left: 0px !important;
}
.margin-l--50 {
	margin-left: -50px;
}
.p-t-20 {
	padding-top: 20px;
}
.pad-l-20 {
	padding-left: 20px;
}
.pad-r-20 {
	padding-right: 20px;
}
.m-b-0 {
	margin-bottom: 0px;
}
/*carousel*/
.display-none {
	display: none;
}
@media (max-width: 767.98px) {
	.display-none {
		display: block;
	}
	.lg-screen {
		display: none;
	}
	.center-mobile {
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.carousel-inner img {
		width: 100px;
	}
	.top-section ul li img {
		width: 100px;
	}
}
@media (max-width: 424.98px) {
	.Security-content .mobil-pad-60 {
		padding-left: 60px;
	}
}
.style-none {
	list-style: none;
}
header.fixed-header {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: #fff;
    box-shadow: 0px 2px 2px 0px #f7f7f7;
}
#nav-content li a:hover {
	color: #20b038;
}
#nav-content li a:active {
	color: #20b038;
}
#nav-content .active a{
	background: #fff;
	color: #20b038;
}
.current{
	color: #20b038!important;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
a.nav-link.soft-btn.current.active.show {
    color: #fff!important;
}
/* CSS - 20190809*/
.row.companies-img.lg-screen img {
    width: 70%;
}
.col-xl-3.col-lg-3.col-md-3.col-sm-6.col-xs-6.hr-comapny-logo img {
    width: 44%;
}
.row.Security-content.lg-screen img {
    padding: 21px 27px;
}
/*.col-xl-7.col-lg-7.col-md-7.col-sm-12.col-xs-12.faciliate-img img {
    width: 95%;
    padding-left: 92px;
}*/
/*Accordian*/
.accordion-s2 .card-header a.collapsed {
    padding: 15px 22px;
    color: #4c5a77;
}
.accordion-s2 .card {
    background-color: #fff;
    border-color: rgba(34, 59, 85, 0.1);
}
.card {
    position: relative;
    /* display: flex; */
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /* background-color: #fff; */
    /* background-clip: border-box; */
    /* border: 1px solid rgba(0,0,0,0.125); */
    border-radius: .25rem;
}
.card {
    background: #fff;
    border: none;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.02);
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
   /* padding: 17px 20px;*/
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.accordion-s2 .card {
    padding: 0;
    /* box-shadow: 0 0 1px 0 #8484847a,0 2px 5px 0 #8484847a!important; */
    background-color: #fff;
    border: none;
    margin-bottom: 10px;
    width: 83%;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1em;
}
.accordion-s2 .card-header a {
    color: #20b038;
    font-weight: 400;
    padding: 25px 30px 15px;
    display: block;
    margin-top: 0;
    cursor: pointer;
}
.footer-section p {
	padding: 6px 3px;
    font-size: 15px;
}
i.fa.fa-chevron-down {
    margin: 14px 0 0 0;
    float: right;
    font-size: 10px;
}
.activeTab {
    border: 1px solid;
}
/*Accordian*/
/*--CSS - 20190813--*/
/*-- HealthCare--*/
.sectionTitle {
    text-align: center;
    padding: 18px 0;
}
.feature1,.feature2,.feature3 {
    padding: 30px;
   text-align: center;
}
h3.featuresTitle {
    padding: 20px;
}
.feature1:hover, .feature2:hover, .feature3:hover {
    box-shadow: 0 0 1px 0 #8484847a,0 2px 5px 0 #8484847a!important;
}
h3.featuresTitle {
    color: #000;
    font-size: 21px;
    padding: 20px;
}
i.fa.fa-weixin {
    color: #46c756;
    font-size: 45px;
}
.buttonContent {
    text-align: center;
}
.buttonContent h3{
	margin-bottom: 48px;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: -0.5px;
    text-align: center;
    color: rgb(25, 15, 77);
}
.freeTrailButton {
    text-decoration: none;
    width: 200px;
    border: 2px solid #60d66a;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    color: #100a0a;
    border-radius: 6px 6px 6px 0px;
    padding: 11px 37px;
    background: #fff;
    text-transform: capitalize;
}
.freeTrailButton:hover {
    text-decoration: none;
	background:#60d66a;
	color:#fff;
}
/*section.section3HealthCare.section-padding img{
    width: 85%;
}*/
.secutitySubSection {
    padding: 4em 3em 0 2em;
}
/*section.security.section-padding img {
	margin: 2em 0 0 0;
	width:100%;
}*/
.subSection {
    padding: 70px 0;
    width: 85%;
}
p.sectionSubTitle {
    color: #000;
    padding: 20px 0;
    font-size: 29px;
    font-weight: 500;
}
.col-md-6.Sec {
    padding-left: 100px;
}
section.freeTrail.section-padding {
    background: #f9f9f9;
    padding: 70px 0;
}
.buttonContent {
    padding: 20px 0;
    text-align: center;
}
.buttonFreeTrail {
    padding: 24px 0;
}
.sectionTitle h3 {
    font-size: 2em;
}
/*-- HealthCare--*/
/*-- Menu Dropdown--*/
    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
    	 transform: translateY(0%);
  	transition-delay: 0s, 0s, 0.3s;
   	border-radius: 7px;
    display: none;
    box-shadow: 0 0 1px 0 #8484847a,0 2px 5px 0 #8484847a!important;
    position: absolute;
    background-color: #fff; 
    min-width: 200px;
    #box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown:hover .dropdown-content {display: block;}
	span.space {padding: 5px;}

/*--Menu Dropdown --*/
.p-b-50 {
    padding: 50px 0px;
}
.col-xl-6.col-lg-6.col-md-6.col-sm-12.col-xs-12.p-t-20.wow.fadeInLeft {
    padding: 37px 0 0 37px;
}
.sectionTitle:after {
    position: absolute;
    content: '';
    left: 50%;
    height: 7px;
    width: 32px;
    border-radius: 3px;
    background: #47c756;
}
.sectionTitle h2 {
    padding-bottom: 12px;
    font-weight: 500;
    font-size: 2.3em;
}
/*-------------Menu*/
