  <footer class="footer-section section-padding">
    <div class="container-fluid section-padding">
      <div class="row system-content">
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <ul>
            <h5><strong>Industries</strong></h5>
            <li><a href="healthcare.html">Healthcare</a></li>
            <li><a href="on-demand.html">On-demand</a></li>
            <li><a href="online-community.html">Online community</a></li>
            <li><a href="ecommerce.html">E-Commerce</a></li>
             <li><a href="gaming.html">Gaming</a></li>
            <li><a href="live-streaming.html">Live streaming</a></li>
            <li><a href="elearning.html">E-Learning</a></li>
            <li><a href="business.html">Business</a></li>
          </ul>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <ul>
            <h5><strong>Features</strong></h5>
            <li><a href="#">In app chat</a></li>
            <li><a href="#">Manage message data</a></li>
            <li><a href="#">Live chat</a></li>
            <li><a href="#">Chat encryption</a></li>
          </ul>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <ul>
            <h5><strong>Learn & Connect</strong></h5>
            <li><a href="#">About US</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Help Docs</a></li>
            <li><a href="#">Security</a></li>
            <li><a href="#">integration</a></li>
          </ul>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <ul>
            <h5><strong>For Developers</strong></h5>
            <li><a href="#">Dev API</a></li>
            <li><a href="#">iOS SDK</a></li>
            <li><a href="#">Android SDK</a></li>
            <li><a href="#">Rest API</a></li>
          </ul>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 footer-media">
          <div class="footer-logo">
            <source srcset="img/logo.webp" type="image/webp">
            <source srcset="img/logo.png" type="image/png">
            <img src="img/logo.png" alt="footer-logo" class="img-fluid">
          </div>
          <p>13, CM Nagar, Ramakrishna puram, Ganapathy pudur, Ganapathy, Coimbatore- 641006.</p>
          <div>Contact : 
          <a href="mailto: contact@pikchat.co" target="_top"> contact@pikchat.co</a></div>
          <div>
            <ul class="social p-l-0">
              <li>
                <a href="https://www.facebook.com/piklivechat/" target="_blank">
                  <source srcset="img/Group 195.webp" type="image/webp">
                  <source srcset="img/Group 195.png" type="image/png">
                  <img src="img/Group 195.png" alt="social" class="img-fluid" width="25px" height="25px">
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/showcase/pikchat/" target="_blank">
                  <source srcset="img/Group 194.webp" type="image/webp">
                  <source srcset="img/Group 194.png" type="image/png">
                  <img src="img/Group 194.png" alt="social" class="img-fluid" width="25px" height="25px">
                </a>
              </li>
              <li>
                <a href="https://twitter.com/InstantPikchat" target="_blank">
                  <source srcset="img/Group 193.webp" type="image/webp">
                  <source srcset="img/Group 193.png" type="image/png">
                  <img src="img/Group 193.png" alt="social" class="img-fluid" width="25px" height="25px">
                </a>
              </li>
              <li>
                <a href="https://www.youtube.com/channel/UCzGMg1W9baMFVbAH1bD3XJg" target="_blank">
                  <source srcset="img/Group 192.webp" type="image/webp">
                  <source srcset="img/Group 192.png" type="image/png">
                  <img src="img/Group 192.png" alt="social" class="img-fluid" width="25px" height="25px">
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/sparkout_tech/" target="_blank">
                  <source srcset="img/Group 191.webp" type="image/webp">
                  <source srcset="img/Group 191.png" type="image/png">
                  <img src="img/Group 191.png" alt="social" class="img-fluid" width="25px" height="25px">
                </a>
              </li>
            </ul>
            <ul class="store p-l-0">
              <li>
                <a class="nav-link" href="#" data-toggle="modal" data-target="#myModal">
                  <source srcset="img/Rectangle 28.webp" type="image/webp">
                  <source srcset="img/Rectangle 28.png" type="image/png">
                  <img src="img/Rectangle 28.png" alt="social" class="img-fluid" width="100px">
                </a>
              </li>
              <li>
                <a class="nav-link" href="#" data-toggle="modal" data-target="#myModal">
                  <source srcset="img/Rectangle 29.webp" type="image/webp">
                  <source srcset="img/Rectangle 29.png" type="image/png">
                  <img src="img/Rectangle 29.png" alt="social" class="img-fluid" width="100px">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div><hr>
    <div class="container-fluid footer-pad">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 p-l-20">
          <p class="center-mobile">© Copyright 2019 <a href="https://www.sparkouttech.com/" target="_blank"> Sparkout Tech Solutions</a></p>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 p-r-20">
          <p class="float-right center-mobile">Cookie Policy Privacy Terms</p>
        </div>
      </div>
    </div>
    
  </footer>