<!-- Start Navbar -->
<nav class="navbar static-top navbar-expand-md wow fadeInUp" data-wow-delay="0.75s" id="nav">
    <!-- Brand Logo-->
    <a class="navbar-brand" href="https://www.pikchat.co">
        <source srcset="img/logo.webp" type="image/webp">
        <source srcset="img/logo.png" type="image/png">
        <img src="img/logo.png" alt="logo" class="img-fluid">
    </a>
    <button id="navcolor" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
        <span>
            <i class="fa fa-bars color"></i>
        </span>
    </button>
    <!-- Brand Logo-->
    <!-- Links -->
    <div class="collapse navbar-collapse justify-content-end nav-scroll" id="nav-content">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link current" href="contact.php">Features</a>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <a class="nav-link">Industries</a>
                    <div class="dropdown-content">
                        <a href="healthcare">
                            <i class="fa fa-medkit" aria-hidden="true"></i>
                            <span class="space"></span>
                            Healthcare
                        </a>
                        <a href="on-demand">
                            <i class="fa fa-podcast" aria-hidden="true"></i>
                            <span class="space"></span>
                            On Demand
                        </a>
                        <a href="online-community">
                            <i class="fa fa-spinner" aria-hidden="true"></i>
                            <span class="space"></span>
                            Online Community
                        </a>
                        <a href="ecommerce">
                            <i class="fa fa-commenting" aria-hidden="true"></i>
                            <span class="space"></span>
                            E Commerce
                        </a>
                        <a href="gaming">
                            <i class="fa fa-gamepad" aria-hidden="true"></i>
                            <span class="space"></span>
                            Gaming
                        </a>
                        <a href="live-streaming">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                            <span class="space"></span>
                            Live Streaming
                        </a>
                        <a href="elearning">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            <span class="space"></span>
                            E-Learning
                        </a>
                        <a href="business">
                            <i class="fa fa-handshake-o" aria-hidden="true"></i>
                            <span class="space"></span>
                            Business
                        </a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact.php">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="documentation">Documentation</a>
            </li>
            <li>
                <a class="nav-link" href="contact">
                    <button class="btn pik-btn-border btn-sm">Contact</button>
</span></a></li></ul></div>
<!-- Links -->
</nav>
<!-- End Navbar -->
